@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
box-sizing:border-box;
margin:0;
padding:0;
font-family:"Roboto", sans-serif;
}

html{
scroll-behavior:smooth;
}

::-webkit-scrollbar{
background-color:#f1f9ff;
width:10px;
}

::-webkit-scrollbar-thumb{
background:linear-gradient(76deg, #3a3939, #181717);
border-radius:10px;
}

body{
height:100%;
width:100%;
}

.Header-Nav{
background:#111 url(../assets/polygon-Wallpaper.jpg) no-repeat;
background-size:contain;
background-size:100% 100%;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background-attachment:fixed;
flex-direction:column
}

div{
padding:15px 0;
}

.Contratar,.Main-section-me,.Services{
background:#252e33;
}

.Navigation ul {
list-style:none;
display:flex;
padding:12px;
}

.Navigation ul li{
margin:0 10px;
}

.Navigation ul li a{
color:#252e33;  
text-decoration:none;
background:#fffbf8;
box-shadow:3px 3px 3px rgb(255, 249, 244);
border-radius:3px; 
font-weight:bold; 
padding:12px;
}

.Navigation ul li a:hover{
color:#fdf5ef;
background-color:#252e33;
transition:.3s ease-in;
}

h1 ,h2, h3{
color:#fff;
text-align:center;
margin: 10px 0 15px 0;
}

p{
color:#fff;
line-height:25px;
text-align:center;
width:50%;
margin:10px auto;
}

.Sections-parallax{
width:100%;
min-height:350px;
background-color:#111;
background-size:contain;
background-size:100% 100%;
background-attachment:fixed;
background-repeat:no-repeat;
}

.Sections-parallax-viewport{
height:100vh;
background-image:url(../assets/Design-2.jpg);
background-repeat:no-repeat;
background-size:cover;
display:flex;
align-items:center;
background-attachment:fixed;
}

.design-1{
background-image:url(../assets/Design-1.jpg);
}

.design-2{
background-image:url(../assets/Design-2.jpg);
}

.Link{
color:#ffeee2;
background-color:#444444;
padding:10px;
margin:10px 0 0 0;
text-decoration:none;
display:inline-block;
box-shadow:2px 3px 2px #444444;
}

.Link:hover{
color:#444444;
background:#ffeee2;
transition:.3s ease-in;
}

.hallowen-group{
width:100%;
display:flex;
justify-content: center;
align-items:center;
}

.hallowen-group .hallowen{
background:#171A1C no-repeat;
background-image:url(../assets/Panda-Girl.png);
background-size:contain;
background-position:bottom;
width:100%;
height:160px;
border-radius:50%;
border-right:10px solid #fff9f5;
border-bottom:10px solid #f8f4f1;
border-top:10px solid #111;
border-left:10px solid #111;
padding:10px;
top:10%;
margin:0 15px;
}

.Name{
border-bottom:2px solid #fff;
padding:10px 0;
}

@media(max-width:768px){

.Header-Nav{
height:100%;
}   

.hallowen{
width:50%;
height:50%;
top:2%;
}

.Navigation ul {
display:block;
text-align:center;
height:350px;
}

.Navigation ul li{
margin:45px 0;
}

.Navigation ul li a{
width:100%;
display:inline-block
}

}